<!DOCTYPE html>
<html>
<head>
<title>Aparna - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Aparna."/>
<meta charset="UTF-8"> 
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="name">
			<h1 class="quickFade delayTwo">Aparna</h1>
			<h2 class="quickFade delayThree">Python Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>aparna.prasoona@gmail.com</a></li>
				<li>9546465245</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Objective</h1>
				</div>
				
				<div class="sectionContent">
					<p>Struggle for perfection and desires to be a successful Professional. To pursue a challenging and demanding position in a competitive and growth-oriented environment, where my skills and knowledge along with my zeal and enthusiasm can be utilized for the company and self-growth.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Professional Summary</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Python</h2>
					<p> <a href="https://github.com/apk0201/FreeCodeCamp_polygon_area_calculator_challenge" target="_blank" class="subDetails"><strong>GIT</strong></a>:Please click on this link to see my python coding skills</p>
					<p>• Strong knowledge of all phases of SDLC and Strong working knowledge of all Software testing phases (System testing, Sanity testing, Functional testing, System Integration testing, Performance testing, UAT).<br>
					•Strong understanding of how to write and deploy code. <br>
					•Have Experience in List Comprehensions and Python inbuilt functions such as Map, Filter and Lambda. <br>
					•Profound knowledge of software development in Python (libraries used: Beautiful Soup 4 for webscrapping, NumPy, SciPy, matplotlib, Pandas data frames for data analysis, network, urllib2, MySQL dB for database connectivity) and IDEs - sublime text, PyCharm, eclipse, notepad++. <br>
					•Experience in developing applications using Model Template View architecture using Python and Django web application framework.<br></p>
				</article>

				<article>
					<h2>HTML5/CSS/Javascript</h2>
					<p> <a href="https://github.com/apk0201/HTML-CSS-JS/blob/main/Indian%20Dance%20Forms.html" target="_blank" class="subDetails">GIT</a>:Please click on this link to see my HTML/CSS/JS skills</p>
					<p>•Deep understanding of front-end engineering technologies and frameworks.<br>
					•Hands on experience in using CSS3 media queries and Bootstrap while working on responsive web design.<br></p>
				</article>

				<article>
					<h2>Selenium</h2>
					<p> <a href="https://github.com/apk0201/Automating_adding_items_cart_amazon" target="_blank" class="subDetails">GIT</a>:Please click on this link to see my Selenium skills</p>
					<p>•Experience in using test automation tools such as Selenium Web Driver, to develop automation testing scripts for Web applications.<br>
					•Knowledgeable in creating a robust Framework using Page Object model/Page Factory model Selenium Web Driver to automate our Web based application.
					•Aware of handling errors/exceptions and debugging the issues.<br>
					•Hands on experience with Agile project management tools such as JIRA.<br>
					•Proficient understanding of code versioning tools such as Git and continuous integration frameworks like Jenkins.</p>
				</article>
				
				<article>
					<h2>Mathematics/Teaching</h2>
					<p>•Accomplished Math Tutor with extensive knowledge and experience in teaching math concepts like Number Theory, Pre-algebra, Advanced algebra, Linear algebra, Probability, Statistics, Geometry, Trigonometry, pre-calculus, advanced Calculus.<br>
					•Profound knowledge of instructional techniques. <br>
					•Ability to promote independent learning among students.<br>
					•Adept in developing math curriculum and course materials. <br>
					•Taught efficient testing techniques and methods for managing stress.</p>
				</article>

				<article>
					<h2>Soft Skills/Transferrable skills</h2>
					<p>•Ability to learn and adapt quickly to the emerging new technologies and paradigms.<br>
					•Excellent communication, interpersonal and analytical skills, and a highly motivated team player with the ability to work independently.<br></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>Javascript</li>
					<li>HTML5/CSS/Bootstrap</li>
					<li>Selenium</li>
					<li>SQL</li>
					<li>AWS</li>
					<li>GIT</li>
					<li>JIRA</li>
					<li>Jenkins</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Freelance software engineer</h2>
					<p class="subDetails">6 months (2020)</p>
					<p>•Understand customer requirements.<br>
				•Executed manual or automated test cases and analyzed results which were forwarded to QA Engineers and QA Lead.<br>
				•Execution of testing plans and the creation/management of bug lists.<br>
				•A report, prioritize and track defects, working with the development team to prioritize and schedule fixes.<br>
				•Used JIRA to track bugs and maintained the flow of iterations.<br>
				•Automate test cases, test suites for Regression Testing via Selenium Webdriver.<br>
				•Developed custom reports using HTML, Python and MySQL.<br></p>
				</article>
				
				<article>
					<h2>Mathematics, Physics, Chemistry and Exam Prep Tutor at Huntington Learning Center</h2>
					<p class="subDetails">Sep 2014 – Nov 2016<br> Dec 2020 - current</p>
					<p>•Assist current students and people heading back to school in mastering mathematical concepts needed to pass the SAT and GRE.<br>
					•Conduct timed practice exams to help students feel comfortable with the testing process.<br>
					•Evaluate students’ progress and adjust instruction based on feedback.<br>
					•Identify individual developmental needs and implement customized coaching and mentoring to help students master new skills.<br>
					•Remain up to date with current SAT and GRE guidelines, accommodating for changes.<br>
					•Taught general test-taking strategies.<br>
					•Monitored students’ progress throughout academic year.<br>
					•Helped struggling students improve their critical thinking and problem-solving skills.<br>
					•Gave praise and assurance to boost student's self-confidence and self-esteem.<br>
					•Cultivated a fun and interesting learning environment which, encouraged questions and discussions.<br>
					•Maintained and updated student progress and attendance documentation.<br>
					•Conducted one-on-one and classroom tutoring sessions on a regular basis.<br>
				    •Assisted students with their homework help and to improve their grades.</p>
				</article>
				
				<article>
					<h2>Junior Engineer at ITC Limited – PSPD (Pulp and Paper Manufacturing Industry)</h2>
					<p class="subDetails">May 2009 – Oct 2010</p>
					<p>•Checking bulk MTO’s against GA & Isometrics.<br>
					•Reviewing of the pipeline routing and supporting by using AutoCAD.<br>
					•Preparing zeroed level Bill of material. <br>
					•Using Total Productive Maintenance and Early management techniques reduced project cost and completed scheduled work in prescribed time.<br>
					•Conducted Training classes mill wide and worked as teaching faculty. JH (Jishu Hozen) leader to a group of 25 employees and an active member of Early Management team (one of the pillars of TPM).<br>
					•As a JH leader, I reduced maintenance costs using predictive, preventive maintenance techniques. Using TPM methodology MTBF (Mean Time between Failures) and MTBR (Mean Time between Repairs) is increased which in turn reduced maintenance and inventory costs.<br>
					•Using 5S and Spare parts policy, reduced inventory cost.<br>
					•Conducted awareness programs about Energy Conservation tips among mill wide and local residents.<br></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>ANDHRA UNIVERSITY COLLEGE OF ENGINEERING</h2>
					<p class="subDetails">Bachelor's Degree</p>
				</article>
				
				<article>
					<h2>IMT Ghaziabad</h2>
					<p class="subDetails">Post graduate Diploma in Business Administration</p>
					<p></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>